*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1920px;
    /* height: 90vh; */
    height: 850px;
    background-color:rgba(229, 84, 115, 0.10);
}
.banner-img{
    width: 635px;
    height: 800px;
    margin-top: 50px;
}
.banner-left{
    padding: 240px;
    margin-top: 197px;
    margin-bottom: 167px;
   
}
.banner-title{
    color: #272727;
    font-size: 65px;
    
}
.banner-discription{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin: 32px 0;

}
.banner-right{
    margin-right: 240px;
}
.btn{
    border-radius: 8px;
background: #E55473;
padding: 16px 30px;
color: white;
border: none;
}    

    

