*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1920px;
    /* height: 90vh; */
    height: 850px;
    background-color:rgba(229, 84, 115, 0.10);
}
.banner-img{
    width: 635px;
    height: 800px;
    margin-top: 50px;
}
.banner-left{
    padding: 240px;
    margin-top: 197px;
    margin-bottom: 167px;
   
}
.banner-title{
    color: #272727;
    font-size: 65px;
    
}
.banner-discription{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin: 32px 0;

}
.banner-right{
    margin-right: 240px;
}
.btn{
    border-radius: 8px;
    background: #E55473;
    padding: 16px 30px;
    color: white;
    border: none;
}
.featured-container{
    text-align: center;
    margin-top: 160px;
}
.featured-title{
    font-size: 40px;
    color: #272727;
}    
.featured-discription{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-top: 24px;
    margin-bottom: 48px;
}
.flowers-container{
    display: flex;
    justify-content: center;
}
.flower-title{
    text-align: center;
    text-decoration: underline;
    margin-top: 27px;
    font-size: 20px;
    color: #272727;
    
}
.flower-img{
    width: 310px;
    height: 428px;
    /* border: 1px solid; */
    border-radius: 300px 300px 0px 0px;

}
.left{
background-color: rgba(167, 33, 98, 0.15);
padding: 85px 45px 0 45px;

}
.center{
    background-color: rgba(5, 151, 160, 0.15);
    padding: 85px 45px 0 45px;
}
.right{
    background-color: rgba(71, 125, 17, 0.15);
    padding: 85px 45px 0 45px;
}
.flower-center{
    margin: 0 40px 0 40px;
}
.delivery-section{
    display: flex;
    /* width: 1350px; */
    width: 1035px;
    height: 250px;
    background-color: rgba(39, 39, 39, 0.05);
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 128px;
}
.delivery-img{
    width: 88px;
    height: 88px;
   margin-bottom: 10px;
   
    
}
.fresh-flower{
    margin: 0 100px;
}
.delivery-discription{
    text-align: center;
}
.sales-section{
   
    width: 1920px;
    height: 550px;
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 128px;
    padding: 0 150px;
}
.sales-title{
    color: #272727;
    font-size: 45px;
}
.sales-span{
    color: #E55473;
}
.sales-discription{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin: 24px 0;
}
.sales-btn{
    margin-left:200px ;
}
.instagram{
    margin-top: 100px;
}
.instagram-img{
    width: 290px;
    height: 340px;
}
.instagram-container{
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
}
    





    

